html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Lato', sans-serif;
  color: #333333;
  text-align: center;
  background: #d2e8f9;
}


div.digit-div {
  display: inline-block;
  position: relative;

  height: 60px;
  width: 60px;
  margin: 7px;
}

input {
  height: 100%;
  width: 100%;
  border: solid 2px #cacaca;
  transition: background-color 0.3s ease-in-out;

  text-align: center;
  font-size: 27px;
  font-weight: 700;
  color: #333333;
}

input:focus {
  outline: none;
}

input::placeholder {
  color: hsla(0, 0%, 100%, 0.6);
}

span {
  position: absolute;
  background-color: #ef5151;
  transition: transform 0.1s ease;
}

.bottom,
.top {
  height: 2px;
  left: 0;
  right: 0;
  transform: scaleX(0);
}

.left,
.right {
  width: 2px;
  top: 0;
  bottom: 0;
  transform: scaleY(0);
}

.bottom {
  bottom: 0;
  transform-origin: bottom right;
}

input:focus ~ .bottom {
  transform-origin: bottom left;
  transform: scaleX(1);
}

.right {
  right: 0;
  transform-origin: top right;
  transition-delay: 0.05s;
}

input:focus ~ .right {
  transform-origin: bottom right;
  transform: scaleY(1);
}

.top {
  top: 0;
  transform-origin: top left;
  transition-delay: 0.15s;
}

input:focus ~ .top {
  transform-origin: top right;
  transform: scaleX(1);
}

.left {
  left: 0;
  transform-origin: bottom left;
  transition-delay: 0.25s;
}

input:focus ~ .left {
  transform-origin: top left;
  transform: scaleY(1);
}



button {
  z-index: 1;
  position: relative;
  font-size: inherit;
  font-family: inherit;
  color: white;
  padding: 0.5em 1em;
  outline: none;
  border: none;
  background-color: #358fec;
  font-size: 23px;
  margin-top: 2em;
}

button::before {
  content: '';
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #113861;
  transform-origin: center right;
  transform: scaleX(0);
  transition: transform 0.25s ease-in-out;
}

button:hover {
  cursor: pointer;
}

button:hover::before {
  transform-origin: center left;
  transform: scaleX(1);
}

.result-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 432px;
  margin: 3em auto 1em auto;
}

.result {
  margin: 5px 10px;
  font-size: 19px;
}

.result svg {
  margin-left: 5px;
}